body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    background-color: rgba(16, 70, 92, 0.906); 
    color: rgb(105, 106, 27);
}

input { 
    width: 70px; /* Aumentar el ancho de los inputs */
    height: 40px; /* Aumentar la altura de los inputs */
    text-align: center; 
    font-size: 18px; /* Aumentar el tamaño del texto */
}

.realizarSuma {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.matriz-container { 
    display: flex; 
    justify-content: center; 
    gap: 30px; /* Aumentar el espacio entre matrices */
    margin-top: 20px; 
}

.matriz { 
    display: grid; 
    gap: 10px; /* Aumentar el espacio entre celdas */
}

div-matriz {
    border-radius: 10px; /* Bordes más redondeados */
    border: 3px solid white;
    width: 20vh; /* Aumentar el ancho del recuadro */
    height: 30px; /* Aumentar la altura del recuadro */
}

#resultado {
    display: grid;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}